@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-4\/5vw {
    width: 80vw;
  }
  .w-1\/5vw {
    width: 20vw;
  }
}
body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  width: 100vw;
  height: 100vh;
  margin: 0;
}
h1 {
  font-weight: 500;
}

#login-page-div {

  h1 {
    font-size: 32px;
  }

  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
}

input {
  border-radius: 5px;

}